#app{
  display: grid;
  grid-template-columns: 32% 68%;

  height: 100vh;
  overflow: hidden; /*Isso faz com que ele não tenha rolagem nos dois lados, no entanto resolucionaremos isso na tag main colocando rolagem diretamente nela*/
}

main{
  overflow: auto;/*Aqui eu adiciono a rolagem */
  background-color: var(--shape-background);

}

body {
  background-color: var(--shape-background);
}

aside{
  
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
 
  /* position: relative; */
 /* border: 1px solid red; */

  
}

#app {
  aside{
    margin: 1.25rem;
    border: 1px red solid;
    background-color: var(--shape-background);
    
    

    .aside-container{
      border: 1px solid blue;
      margin:  2rem;
      
      img{
        /* padding-top: 1rem; */
        width: 3rem;
        height: 3rem;
      }
      
      
      .front{ 
        margin-top: 1rem;
        h2{
          font: var(--logo);
          color: var(--pink);
         
        }

        p{
          font: var(--body-Xs-regular);
          color: var(--text-heading);
          margin-top: 0.25rem;
        }
      }

    }
  }
  

  main{
    padding: 5rem 8.12rem 0;

    .main-container{
      h1{
        color: var(--text-heading);
        margin-bottom: 2.5rem;
      }

      h3{
        color: var(--text-heading);
       
      }

      .evento{
        display: flex;
        gap: 1.3rem;
        margin-bottom: 1.5rem;
        align-items: center;
      }
    }

  }
}
